<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/public/stylesheets/fishes/show.css" />
<%- include("../partials/nav") %>

<main>
  <h1><%= title %> </h1>
  <section>
    <div>Name:</div>
    <div><%= fish.name %> </div>
    <div>Weight (in lb):</div>
    <div><%= fish.weight %> </div>
    <div>Date Caught:</div>
    <div><%= fish.catchDate?.toISOString().slice(0,10) %></div>
    <div>Released?</div>
    <div><%= fish.caught ? 'Yes' : 'No'%> </div>
    <% if (fish.owner.equals(user?.profile._id)) { %>
      <form action="/fishes/<%= fish._id %>/edit" method="GET">
        <button class="btn" type="submit">
          Edit This Catch
        </button>
      </form>
      <form action="/fishes/<%= fish._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">
          Delete this Fish
        </button>
      </form>
    </section>
    <h2>Make it into a Meal</h2>
    <form action="/fishes/<%= fish._id %>/meals" method="POST">
      <label for="text">Meal:</label>
      <input name="name" required type="text">
      <label for="text">Cook Time (min):</label>
    <input name="cookTime" type="number">
    <label for="text">Style:</label>
    <input name="style" required type="text">
    <button type="submit">Add Meal</button>
    <% if (fish.meals.length) { %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Cook Time</th>
            <th>Style</th>
          </tr>
        </thead>
        <tbody>
          <% fish.meals.forEach(function(meal) { %>
            <tr>
              <td><%= meal.name%></td>
              <td><%= meal.cookTime %></td>
              <td><%= meal.style %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
          <h3>No Meals Yet</h3>
          <% } %>
    <% } %>
        </form>
      </main>
      
      
      <%- include("../partials/footer") %>